<app-header-user />
<div class="container mt-5">
    <div class="text-center">
        <h2 class="text-warning bg-dark py-3 rounded mb-4">
            <span class="fw-bold">¡Compra Exitosa!</span>
        </h2>
        <img src="assets/dragon-ball-victory.jpg" alt="Dragon Ball Victory" class="img-fluid mb-4">
        <p class="lead text-white">
            ¡Felicidades, tu compra se ha realizado con éxito! <br>
            Un nuevo nivel ha sido alcanzado en tu aventura. <br>
            ¡Te esperamos pronto en tu próxima misión!
        </p>
        <p class="fw-bold text-success">¡Que la Fuerza de Dragon Ball te acompañe!</p>

        <a routerLink={{homeLink}} class="btn btn-primary btn-lg mt-4">
            Regresar al inicio
        </a>
    </div>
</div>