<app-header-user />
<div class="d-flex flex-column justify-content-center align-items-center text-white text-center succes-container">
    <div class="text-center">
        <h2 class="text-warning bg-dark py-3 rounded mb-4">
            <span class="fw-bold">Successful Purchase!</span>
        </h2>
        <p class="lead text-white">
            Congratulations, your purchase was successful! <br>
            A new level has been reached in your adventure. <br>
            We look forward to your next mission!
        </p>
        <p class="fw-bold text-success">May the Power of Dragon Ball be with you!</p>

        <a routerLink={{homeLink}} class="btn btn-primary btn-lg mt-4">
            Return to homepage
        </a>
    </div>
</div>