# Backend
/backend/target/
/backend/.mvn/
/backend/.idea/
/backend/.classpath
/backend/.project
/backend/.settings
/backend/.vscode
/backend/logs/
/backend/tmp/

# Ignore only the development Spring Boot configuration
backend/src/main/resources/application-dev.properties

# Do NOT ignore application.properties and application-pdn.properties
# Make sure to REMOVE them from cache if they were ignored previously:
# git rm --cached backend/src/main/resources/application-pdn.properties
# git rm --cached backend/src/main/resources/application.properties

# Ignore .env files (they contain secrets)
.env

# Frontend
/frontend/node_modules/
/frontend/dist/
/frontend/.idea/
/frontend/.vscode

# Ignore Angular environment configuration files
/frontend/saijainstore/src/environments/environment.prod.ts

# General
.DS_Store
*.log

