# Backend
/backend/target/
/backend/.mvn/
/backend/.idea/
/backend/.classpath
/backend/.project
/backend/.settings
/backend/.vscode
/backend/logs/
/backend/tmp/

# Frontend
/frontend/node_modules/
/frontend/dist/
/frontend/.angular/
/frontend/.idea/
/frontend/.vscode

# General
.DS_Store
*.log
